@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* * CUSTOM CSS * */

.game-wrapper {
  max-width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .game-wrapper {
    max-width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .game-wrapper {
    max-width: 60%;
  }
}

.card {
  position: relative;
  perspective: 1000px;
  min-height: 10rem;
}

.card:hover {
  transform: scale(1.02);
  transition: .4s;
}

.card .front {
  transform: rotateX(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  border: 2px solid #000;
  border-radius: 10px;
}

.flipped .front {
  transform: rotateX(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  cursor: pointer;
  background-image: url("/images/card-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.flipped .back {
  transform: rotateX(90deg);
  transition-delay: 0s;
}
